##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## IntelliJ
##############################

# Exclude specific generated/output directories
out/
.idea/workspace.xml
.idea_modules/
*.iml
*.ipr
*.iws

# Exclude everything under .idea by default
.idea/*

# Allow only specific useful settings from .idea
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/runConfigurations
!.idea/vcs.xml


##############################
## OS X
##############################
.DS_Store

##############################
## Miscellaneous
##############################
*.log